*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}
.main {
  background-color: #263aa8;
  color: white;
}
